<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    layout: examples-->
<!--    title: Cover Template-->
<!--    extra_css: "cover.css"-->
<!--    body_class: "text-center"-->
<!--    include_js: false-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>成绩管理首页</title>
    <!-- Bootstrap core CSS -->
    <link  charset="UTF-8"th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/asserts/css/cover.css}"  rel="stylesheet" charset="UTF-8">
    <script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script type="text/javascript" src="asserts/js/popper.min.js"
            th:src="@{/webjars/popper.js/1.11.1/dist/popper.js}"></script>
    <script type="text/javascript" src="asserts/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script></head>
<body>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Cover</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="login">登录</a>

            </nav>
        </div>
    </header>

    <main role="main" class="wrapper cover">
        <h1 class="cover-heading">Author：wsz

        </h1>
        <p class="lead">学生课程成绩简单管理</p>
    </main>
</div>
</img>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
                    href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
    </footer>

</body>
</html>